$font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace !default;
$font-family-sans-serif: "Neue Helvetica W01", Helvetica, Arial, sans-serif !default;
$font-family-heading: "Pebble", sans-serif;

$highlight-theme: 'github' !default;

$yellow:       #fdd000;
$yellow-l:     #ffa700;

// Additional colors
$green:        #55ff00;
$green-l:      #32ff00;

$blue:         #00affd;
$blue-l:       #00cdff;

$red:          #f87d00;
$red-l:        #ff0000;

$white:        #ffffff;
$grey:         #333333;
$grey-l:       #444444;

// Text colors
$grey-d:       #999999;
$black:        #111111;

$break-xs: 320px;
$break-sm: 768px;
$break-md: 1024px;
$break-lg: 1200px;

$base-font-size: 14px;
$font-size-small: 0.8572em;
$base-line-height: 1.43;
$text-color-base: $black;

$color-link: $yellow !default;
$color-link-hover: $white !default;
$color-text: $white !default;
$color-heading: $color-text !default;

$color-background: $black !default;
$color-background-offset: #f2f2f2 !default;

$color-border: #e4e4e4 !default;

$color-ui-hover: $white !default;
$color-ui-active: $white !default;

$color-header-background: $yellow !default;
$color-header-content: $black !default;

$color-frame-border: $color-border !default;

$color-sidebar-heading: rgba($color-text, 0.75) !default;


@import "./core/all";
@import "./components/**/*.scss";
