$btn-primary-color: $white;
$btn-primary-background-color: $yellow;
$btn-primary-border-color: $yellow;
$btn-border-width: 2px;
$btn-icon-padding: 10px;
$btn-icon-spacing: 8 - 4px;

$btn-line-height: 1.286;
$btn-padding: 10px;

$btn-large-font-size: $h4-size;
$btn-large-line-height: $h4-line-height;
$btn-large-min-horizontal-padding: 30 - $btn-border-width;
$btn-large-icon-padding: $btn-large-min-horizontal-padding - $btn-border-width - 16px;
$btn-large-icon-spacing: 8 - 4px;

@mixin button-variant($color, $background, $background-h, $border, $border-h, $opacity: 1) {
    color: $color;
    background-color: $background;
    border-color: $border;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
        outline: none;
        background-color: $background-h;
        border-color: $border-h;
        color: $color;
    }

    &:hover,
    a.card:hover &,
    label.form-option-card__label:hover & {
        background-color: $background-h;
        border-color: $border-h;
        color: $color;
    }

    &:disabled {
        color: rgba($color, .5);
        opacity: $opacity;

        &:hover {
            background-color: $background;
            border-color: $border;
            color: rgba($color, .5);
        }
    }
}

@mixin button-link-variant($color, $color-h) {
    color: $color;

    &:focus {
        color: $color-h;
    }

    &:hover {
        background-color: transparent;
        color: $color-h;
    }
}

/*
Button base styles
*/

.btn {
    display: block;
    width: 100%;
    vertical-align: middle;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    min-width: 80px;
    max-width: 100%;
    line-height: $btn-line-height;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: $btn-border-width;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    @include button-variant($black, $yellow, $yellow-l, $yellow, $yellow-l, .2);

    &:disabled {
        cursor: inherit;
    }

    + .btn {
        margin-left: 5px;
    }

    .modal__footer & {
        border-radius: 0;
        border-top: 1px solid rgba($black, .1);
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: $h5-size;

        &:first-child {
            border-right: 1px solid rgba($black, .1);
        }

        &.btn--back {
            color: rgba($black, .5);
        }

        &:hover {
            color: $yellow;
            background: $black;
            border-color: $black;
        }
    }
}

/*
Button variants
*/

.btn--variant-light {
    @include button-variant($white, transparent, $grey-l, $grey-l, $grey-l);
}

.btn--link {
    display: inline-block;
    background: transparent;
    border: 0;
    text-align: inherit;
    font-size: $h5-size;
    height: auto;
    padding: 0;
    min-width: 0;
    line-height: inherit;
    border-radius: 0;

    &:focus,
    &:hover {
        background-color: transparent;
    }

    @include button-link-variant($yellow, $yellow-l);

    &:disabled {
        @include button-link-variant($grey-d, $grey-d);
    }

    &.btn--text {
        text-transform: none;
        @include button-link-variant($text-color-base, $white);
    }

    &.btn--warning {
        @include button-link-variant($red, $red-l);
    }
}

// Icons

.btn__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
    font-size: 1em;

    .btn--large & {
        font-size: 20px;
    }

    .btn--variant-light & {
        color: $yellow;
    }

    .btn--link & {
        position: relative;
        margin-top: -.2em;
    }
}

.btn__icon--left {
    left: $btn-icon-padding;

    .btn--link & {
        left: 0;
        margin-left: 0;
    }
}

.btn__icon--right {
    right: $btn-icon-padding;

    .btn--link & {
        right: 0;
        margin-right: 0;
    }
}

.btn__icon--close {
    position: relative;
    left: 0;
    right: 0;
    margin-top: -.2em;
}
