.Tree-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $yellow;
}

.Tree-collection {
    &.is-closed {
        background-color: transparent;

        .Tree-collectionItems {
            display: none;
        }

        .Tree-collectionIcon {
            transform: translate(0, -50%) rotate(0);
        }
    }
}

.Tree-collectionLabel {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    margin-top: -1px;
    color: $white;

    &:hover {
        color: $yellow;
    }

    .Tree-depth-3 & {
        border-color: transparent;
    }
}

.Tree-collectionIcon {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 12px;
    height: 12px;
    content: "";
    transform: translate(0, -50%) rotate(180deg);
}

.Tree-item {
    font-size: 14px;
}

.Tree-entityLink {
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    cursor: pointer;
    color: $white;

    &:hover {
        color: $yellow;
    }

    .is-current & {
        color: $yellow;

        &:hover {
            color: $yellow-l;
        }
    }
}

.Tree-collectionItems {
    padding-left: 20px;
}
